.logo {
    font-size: 24px;
    font-weight: bold;
    color: blue;
}

.links{
    display: flex;
    gap: 20px;
}


.boton {
    background-image: linear-gradient(90deg, hsl(192, 69%, 51%), hsl(136, 64%, 51%));
    color: #fff;
    border: none;
    padding: 10px 24px;
    border-radius: 20px;
    font-weight: 600;
    cursor: pointer;
}